

      <!-- main heading -->
      <core-header [isAdmin]="isAdmin" (toggleSidnav)="toggleSideNav()"></core-header>

      <mat-sidenav-container>
        <mat-sidenav #sidenav class="shadow" mode="side" [opened]="openSidenav">
          <core-sidebar [tokenDetail]="tokenDetail"></core-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet></router-outlet>
          
          <!-- <button (click)="toggleSidenav ? sidenav.open() : sidenav.close()">Open and close</button> -->
        </mat-sidenav-content>
      </mat-sidenav-container>
        
      
          

      



      

      
