
.main-body {
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-input-wrapper{
  height: 10px !important;
}

.flex {
  display: flex;
}

mat-form-field {
  margin-bottom: .5rem;
  width: 40%;
}

.checkout-guest{
  color: #11c95e;
}
