<div class="invoice-box">
  <div class="invoice-heading">
    INVOICE
  </div>
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table class="top-table">
          <tr>
            <td class="title">
              <img src="../../../../assets/img/brand/logo1.png" style="width: 100%; max-width: 300px" />
            </td>

            <td>
              Invoice #: 123<br />
              Created: January 1, 2015<br />
              Due: February 1, 2015
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td>
              Feenie Hotel.<br />
              No. 20 FDA Road Dadin Kowa<br />
              Jos, Plateau Nigeria
            </td>

            <td>
              To.<br />
              Godwin N. Jethro<br />
              godwinjethro@gmail.com
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0" class="desc">
    <thead>
      <tr class="heading-1">
        <td>Description</td>
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <tr class="item">
        <td>Website design</td>
        <td>$3000.00</td>
      </tr>
      <tr class="item last">
        <td>Late charges</td>

        <td>$00.00</td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
          <th>Total</th>
          <th>$3000.00</th>
        </tr>
    </tfoot>
    
  </table>

  <table cellpadding="0" cellspacing="0" class="payment">
      <thead>
        <tr class="heading-2">
          <td>Payment Date</td>
          <td>Payment Method</td>
          <td>Amount</td>
        </tr>
      </thead>
      <tbody>
        <tr class="details">
          <td>February 1, 2015</td>
          <td>card</td>
          <td>10000</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Payment Total</th>
          <th></th>
          <th>10000</th>
        </tr>
      </tfoot>
  </table>
</div>

