<div class="main-body">
  <div class="flex">
    <button mat-raised-button [matMenuTriggerFor]="menu">Room type</button>
    <mat-menu  #menu="matMenu">
      <button mat-menu-item #roomType *ngFor="let type of roomTypeList$ | async" (click)="openRoomByTypeForm(type.id)">{{ type.name }}</button>
    </mat-menu>
  
    <span class="example-spacer"></span>
  
    <button class="add-staff" mat-raised-button (click)="openAddRoomForm()" color="primary">add room</button>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>S/N</th>
      <td mat-cell *matCellDef="let room">{{ room['id'] }}</td>
    </ng-container>
  
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let room">{{ room['code'] }}</td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let room">{{ room['status'] }}</td>
    </ng-container>
  
    <ng-container matColumnDef="roomType">
      <th mat-header-cell *matHeaderCellDef>Room Type</th>
      <td mat-cell *matCellDef="let room">{{ room['roomType']?.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let room">
        <button mat-icon-button color="primary" (click)="openEditRoomForm(room)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteRoom(room)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
   </table>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-paginator
    #paginator
    [length]="totalData"
    [pageSizeOptions]="pageSizes"
    showFirstLastButtons
  >
  </mat-paginator>
  </div>
</div>


