

      <!-- main heading -->
      <core-header></core-header>

      <div class="container-fluid">
        

        <div class="d-flex wrapper row" id="wrapper" >
          
          <!-- Sidebar-->
          <div class="d-flex flex-column border-end bg-light sidebar-wrapper col-2 fixed-top shadow" *ngIf="isDisplay">
            <core-sidebar></core-sidebar>
          </div>

            <!-- Page content wrapper  -->
            <div class="content-wrapper show-sidenav col pt-4 px-3">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda excepturi
                magnam deserunt esse, doloremque quae est dolor exercitationem consectetur,
                explicabo eligendi reprehenderit impedit beatae molestias laboriosam illum, repellendus provident!
               </p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Tempora ducimus obcaecati eveniet quisquam earum ex, 
                 culpa illum velit enim aut eum magnam officia libero unde, 
                 accusamus est quaerat adipisci praesentium.</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda excepturi
                   magnam deserunt esse, doloremque quae est dolor exercitationem consectetur,
                   explicabo eligendi reprehenderit impedit beatae molestias laboriosam illum, repellendus provident!
                  </p>  
                    
              <router-outlet></router-outlet>   
            </div>
            
      </div>

      </div>
          

      



      

      
