
mat-sidenav-container {
  height: 100svh;
}

mat-sidenav, mat-sidenav-content {
  top: 46px;
  height: 100%;
}
mat-sidenav {
  width: 16%;
}

mat-sidenav-content {
  padding: 40px;
}

.wrapper {
  height: 88svh;
  position: relative;

  .sidebar-wrapper {
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    
    
  }

  .content-wrapper {
    margin-top: 49px;
    padding: 17px;

  }

  .show-sidenav {
    margin-left: 18%;
    
  }
}









