<header>
  <nav class="fixed-top header-container">
    <mat-toolbar color="accent"  style="height: 50px;" [class.mat-elevation-z2]=true>
      <span>My App</span>
      <span class="example-spacer"></span>

      <a mat-button class="example-icon" matTooltip="dashboard">
        <mat-icon>settings</mat-icon>
        <span class="button_label">Dashboard</span> 
      </a>

      <a mat-button class="example-icon" matTooltip="rooms">
        <mat-icon>hotel</mat-icon>
        <span class="button_label">rooms</span> 
      </a>

      <a mat-button class="example-icon" matTooltip="checkin">
        <mat-icon>beenhere</mat-icon>
        <span class="button_label">checkin</span>
      </a> 

      <a mat-button class="example-icon" matTooltip="guests">
        <mat-icon>luggage</mat-icon>
        <span class="button_label">guests</span> 
      </a>

      <a mat-raised-button class="example-icon" matTooltip="logout">
        <mat-icon>logout</mat-icon>
        <span class="button_label">logout</span> 
      </a>
    </mat-toolbar>
    
  </nav>
</header>
