.header-container{
  z-index: 2;
  // z-index: 1001;
}

.example-spacer {
  flex: 1 1 auto;
}

img {
  overflow: hidden;
  overflow: clip;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.brand-logo {
  display: block;
  padding: 28px 0;
}

