<header>
  <nav class="fixed-top header-container">
    <mat-toolbar color="accent"  style="height: 50px;" [class.mat-elevation-z2]=true>
      <a routerLink="/home" class="brand-logo">
        <img src="assets/img/brand/logo/logo_size.png">
      </a>
      <span class="example-spacer"></span>

      <a mat-button class="example-icon" *ngIf="isAdmin" (click)="toggleNav()">
        <mat-icon>settings</mat-icon>
        <span class="button_label">settings</span> 
      </a>

      <a mat-button class="example-icon" [routerLink]="['avl-room']">
        <mat-icon>hotel</mat-icon>
        <span class="button_label">rooms</span> 
      </a>

      <a mat-button class="example-icon" [routerLink]="['checkin']">
        <mat-icon>beenhere</mat-icon>
        <span class="button_label">checkin</span>
      </a> 

      <a mat-button class="example-icon" [routerLink]="['guest']">
        <mat-icon>luggage</mat-icon>
        <span class="button_label">guests</span> 
      </a>

      <a mat-raised-button *ngIf="_authService.isLogin$| async" class="example-icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="button_label">logout</span> 
      </a>
    </mat-toolbar>
    
  </nav>
</header>
