<mat-accordion>
  <mat-expansion-panel (opened)="!panelOpenState"
                       (closed)="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>Add Room Type</mat-panel-title>
      <mat-panel-description>add new room type</mat-panel-description>
    </mat-expansion-panel-header>
    <add-room-type></add-room-type>
  </mat-expansion-panel>
</mat-accordion>
<div style="padding-top: 20px;"></div>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<room-type-card></room-type-card>




