.search-container {
  text-align: center;
  padding-bottom: 1rem;

  .btn-guest{
    width: 10rem;
    padding: .5rem;
  }
}

.result-container {
  margin-bottom: 1rem;
}

.list-container{
  .room-submit{
    text-align: center;
  }
}