/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap and Bootstrap Icon CSS*/
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

//snackbar config
.mat-mdc-snack-bar-container {
  &.green-snackbar {
    --mdc-snackbar-container-color: #11c95e;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.red-snackbar {
    --mdc-snackbar-container-color: #c91117;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

}

.cdk-overlay-container {
  z-index: 9999 !important;
}
